@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
:root{
    --padding-small: 10px;
    --padding-large: 20px;
    --color-secondary: #F0F0F2;
    --border-radius: 10px;
    --global-transition: 0.15s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header{
    grid-area: header;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: var(--padding-large);
}

#header-content{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

main{
    grid-area: main;
    margin: 3rem;
}

main > #content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 1.5rem;
}

.utilityCard{
    display: flex;
    flex-direction: column;
    height: 160px;
    border-radius: var(--border-radius);
    gap: 10px;
    padding: var(--padding-large);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: var(--global-transition);
}

.utilityCard:hover{
    transform: scale(1.03);
    cursor: pointer;
}

footer{
    grid-area: footer;
    background-color: var(--color-secondary);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: var(--padding-small);
    
}