@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
:root{
    --padding-small: 10px;
    --padding-large: 20px;
    --padding-button: 0.8rem 1.2rem;

    --border-radius: 10px;
    
    --color-secondary: #F0F0F2;
    --color-blue: #9AC0F9;
    --color-success: #AFECB7;
    --color-danger: #F59CB1;
    --color-warning: #FFCDAB;
    --text-color: #282826;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    --font-size-button: 1rem;
    --font-xs: 0.875rem; 
    --font-sm: 1rem;    
    --font-md: 1.125rem; 
    --font-lg: 1.5rem;  
    --font-xl: 2rem;    
    
    --global-transition: 0.2s ease-in-out;
    --transform-scale: scale(1.03);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

p, h1, h2, h3, b, i{
    color: var(--text-color);
}

p{
    font-size: var(--font-sm);
}

h1{
    font-size: var(--font-xl);
}

h2{
    font-size: var(--font-lg);
}

header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: var(--padding-large);
}

#header-content{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header-left,
.header-center,
.header-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.header-center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main{
    grid-area: main;
    align-items: center;
    margin: 3rem;

}

main > #homePageContent{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}



.utilityCard{
    display: flex;
    flex-direction: column;
    height: 160px;
    border-radius: var(--border-radius);
    gap: 10px;
    padding: var(--padding-large);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: var(--global-transition);
}

.utilityCard:hover{
    transform: var(--transform-scale);
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.pageContent{
    display: grid;
    place-items: center;
    gap: 3rem;
    max-width: 800px;
    padding: var(--padding-large);
    margin: 0 auto; 
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
 
}

footer{
    grid-area: footer;
    background-color: var(--color-secondary);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-small);
    
}

button{
    padding: var(--padding-button);
    font-size: var(--font-sm);
    border: none;
    border-radius: var(--border-radius);
    transition: var(--global-transition);
}

button:hover{
    cursor: pointer;
    transform: var(--transform-scale);
    
}

button:focus{
    outline: none;
}

button:active{
     transform: scale(0.7);
    filter: brightness(0.8);
    
}

input{
    padding: var(--padding-small);
    width: 200px;
    border-radius: var(--border-radius);
    border: none;
    border: 2px solid var(--text-color);
}

input:focus{
    outline: none;
}


#btn-home{
    background-color: rgba(100%, 100%, 100%, 0.7);
}

#btn-set-break{
    background-color: #FFE2CF;
}

.color-blue{
    background-color: var(--color-blue);
}

.color-warning{
    background-color: #FFCDAB;
}

.color-success{
    background-color: var(--color-success);
}

.color-danger{
    background-color: var(--color-danger);
}

.btn-container{
    display: flex;
    gap: 15px;
}

@media (max-width: 600px) {
  :root {
    --font-xs: 0.75rem;   
    --font-sm: 0.875rem;   
    --font-md: 1rem;       
    --font-lg: 1.25rem;    
    --font-xl: 1.5rem; 
  }
}
